@model Culminator.Models.AuthenticatedHomePageViewModel

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1> Welcome to the Favorbot</h1>
            <h2> Let me keep you up to date</h2>
        </hgroup>
    </div>
</section>
<section class="content-wrapper main-content clear-fix">
    <div class="pull-right btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            @Model.Email
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <span class="icon-ok"></span>
                <a href="#">@Model.Email</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>
    
    <div class="pull-left">
    @foreach(var favorite in Model.Favorites)
    {
        <div class="well well-small">
            <div>
                <img src="@favorite.Author.ProfileImageUrl"/>
                @favorite.Author.ScreenName
                @Html.Raw(favorite.TextAsHtml)
            </div>
        </div>
    }
    </div>
</section>
